#spin {  
  text-align: center;  
  border: 1px solid green;  
  width: 70px;  
  height:50px;  
  padding-top: 5px;
  color:Green;
  font-size:20px;
  font-family:serif;

}
#canvas {
  position:static;
  top:50px;
  bottom: 0;
  left: 50px;
  right:50px;
  margin:auto;

}
